[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argparse = "==1.2.1"
wsgiref = "==0.1.2"
Django = "==1.6"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"

[requires]
python_version = "2.7"

[scripts]
manage = "python /workspace/dojopuzzles/dojopuzzles/manage.py"
