[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "==3.1"
python-decouple = "*"
dj-database-url = "*"
dj-static = "*"

[requires]
python_version = "3.8"

[scripts]
manage = "python /workspace/dojopuzzles/dojopuzzles/manage.py"
check = "python /workspace/dojopuzzles/dojopuzzles/manage.py check"
test = "python /workspace/dojopuzzles/dojopuzzles/manage.py test"
wtest = "python -Wd /workspace/dojopuzzles/dojopuzzles/manage.py test"
server = "python /workspace/dojopuzzles/dojopuzzles/manage.py runserver"
makemi = "python /workspace/dojopuzzles/dojopuzzles/manage.py makemigrations"
migrate = "python /workspace/dojopuzzles/dojopuzzles/manage.py migrate"
