{% extends 'base.html' %}

{% block column-one-content %}
<div class="grid_9">
    <div class="one-column-content box-content">

        {% if acao == 'busca' %}
        <h1>Busca de problemas</h1>
        {% else %}
        <h1>Todos os problemas</h1>
        {{ paginator.count }} problemas cadastrados.
        {% endif %}

        {% if is_paginated %}
            <br/><br/>
            Problema {{ page_obj.start_index }} ao problema {{ page_obj.end_index }}.
        {% endif %}

        <ul>
        {% for problema in object_list %}
            <li><a href="{{ problema.get_absolute_url }}">{{ problema.titulo }}</a></li>
        {% empty %}
            <li>Nenhum problema encontrado contendo '{{ titulo_busca }}' em seu título.</li>
        {% endfor %}
        </ul>

        {% if is_paginated %}
            <br/>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a> |
            {% endif %}

            {% for pagenumber in paginator.page_range %}
                {% if pagenumber == page_obj.number %}
                    {{ pagenumber }} |
                {% else %}
                    <a href="?page={{ pagenumber }}">{{ pagenumber }}</a> |
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
